<h3 class="text-center h-[50px] bg-indigo-200 text-xl font-bold pt-2">Sites Available</h3>
<div id="websites-container" class="bg-gray-200 text-gray-600 cursor-pointer p-4 w-[90%] border-none text-left outline-none text-sm transition duration-400 ml-[25px] mt-[20px]"></div>
