<div>
    <div>
        <form id="siteHealthForm" class="relative w-full">
            <input type="text" id="url" class="w-full p-2.5 pr-24 border border-gray-300 rounded text-lg" placeholder="Enter URL to Check">
            <button type="submit" id="siteSubmit" class="absolute top-0 right-0 h-full px-4 bg-green-600 text-white border-none rounded-r cursor-pointer hover:bg-green-700 text-sm font-bold">Check Health</button>
        </form>
    </div>
    <div id="websites-container" class="bg-gray-200 text-gray-600 pt-4 w-full border-none text-left text-sm transition duration-400">
    </div>
</div>
